/* 
COLOR PALETTE
#f4f1de - almost white
#e07a5f - salmon
#3d405b - navy
#81b29a - sage
#f2cc8f - cream orange
*/

/* Global Styles
------------------------*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #3d405b; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
 }
 
 img {
     width: 300px;
 }
 
 a {
     color: #f2cc8f ;
     background: #3d405b;
     padding: 8px;
     border-radius: 4px;
     
 }
 
 a:hover {
     text-decoration: none;
     background: #515263;
 }

 h1, h2 {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    margin: 10px;
 }

 h1 {
     font-size: 60px;
     line-height: 1;
 }

 h2 {
     margin: 0;
     font-size: 30px;
 }

 .content-wrap {
     width: 800px;
     margin: 0 auto;
     padding: 60px 0;
 }

 
 /* Profile
 ------------------------*/
 header {
     background: #3d405b;
     color: #f4f1de;
 }
 
 /* Projects
 ------------------------*/
 .projects {
     background: #f4f1de; 
 }

 .project-item {
     overflow: hidden;
 }

 .project-item img {
    float: left;
    margin-right: 20px;
    padding: 25px 0;
 }

 
 /* Work Experience
 ------------------------*/
 .work-experience {
     background: #81b29a;
 }
 
 /* Education
 ------------------------*/
 .education {
     background: #f2cc8f;
 }
 
 /* Contact
 ------------------------*/
 .contact {
 background: #e07a5f;
 }