/* 
COLOR PALETTE
#f4f1de - almost white
#e07a5f - salmon
#3d405b - navy
#81b29a - sage
#f2cc8f - cream orange
*/

/* Global Styles
------------------------*/
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    color: #3d405b; 
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    line-height: 1.5;
 }
 
 img {
     width: 300px;
 }
 
 a {
     color: #3d405b;
     background: #aadbd1;
     padding: 8px;
     border-radius: 4px;
     
 }
 
 a:hover {
     text-decoration: none;
     background: #aadbd1;
 }

 h1, h2 {
    font-family: 'Shrikhand', cursive;
    font-weight: 300;
    margin: 10px;
 }

 h1 {
     font-size: 70px;
     line-height: 1;
     letter-spacing: 8px;
     text-align: center;
     text-shadow: -1px 0 rgb(255, 253, 253), 0 1px black, 3px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
 }

 h2 {
     margin: 0;
     font-size: 30px;
     letter-spacing: 5px;
     color: #e9b9c8;
     text-align: center;
     text-shadow: -1px 0 black, 0 1px black, 3px 0 black, 0 -1px black;
 }

 h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
    letter-spacing: 5px;
    margin: 0;
 }

 .content-wrap {
     width: 800px;
     margin: 0 auto;
     padding: 60px 0;
 }

 /* Nav Dropdown 
 ------------------------*/

ul { 
    list-style: none; 
    text-align: center;
}


ul li {                    
    font: bold 12px/18px; 
    font-family: 'Roboto Mono', monospace;
    display: inline-block;    
    position: relative; 
    padding: 15px 20px; 
    background: #aadbd1; 
    cursor: pointer;  
    border : 1px solid #555;
}
    
ul li:hover {                        
    background: #f4f1de;  
    color: black; 
    }

ul li ul {        
    padding: 0;   
    position: absolute;   
    top: 48px;  
    left: -10000px;  
    width: 170px; 
}

ul li ul li {                      
    background: #f4f1de;   
    display: block;     
    color: black; 
}

ul li ul li:hover { 
    background: #f1d19c; 
} 
    
ul li:hover ul {          
    display: block;     
    left :0px; 
}

 /* Profile
 ------------------------*/
 header {
     background: #aadbd1;
     color: black;
 }
 
 /* About
 ------------------------*/
 .about {
    background: #f4f1de; 
}

 /* Projects
 ------------------------*/
 .projects {
     background: #e9b9c8; 
 }

 .project-item {
     overflow: hidden;
 }

 .project-item img {
    float: left;
    margin-right: 20px;
    padding: 25px 0;
 }

 
 /* Work Experience
 ------------------------*/
 .work-experience {
     background: #90c7ad;
 }
 
 /* Education
 ------------------------*/
 .education {
     background: #f1d19c;
 }
 
 /* Contact
 ------------------------*/
 .contact {
 background: #f4f1de;
 }